body {
    overflow-x: hidden;
    margin-top: -0.25rem !important;
    margin-left: 0.35rem !important;
    margin-right: 0.35rem !important;
}

.form-contact .invalid {
    display: inline-block;
    background: #FF9898;
}

.form-contact .invalid-feedback {
    color: #CC0000;
}