{% extends 'base.html' %}
{% block form %}
    {{ super() }}
    <form class="d-flex" action="/" method="get">
        <input class="form-control me-2" type="text" name="search" placeholder="Поиск..."
               value="{{ search }}">
        <select name="category" style="border-radius: 7px">
            <option value="">Выберите категорию</option>
            {% for cat in categories %}
                <option
                        value="{{ cat.id }}"
                        {% if category_selected_id == cat.id %}selected{% endif %}>
                    {{ cat.category_name }}
                </option>
            {% endfor %}
        </select>
        <button class="btn btn-outline-success" style="margin-left: 5px;
        background-color: #7569b0;
        color: #cccccc;
        border: 3px solid #403286;
        border-radius: 15px">Найти
        </button>
    </form>
{% endblock %}
{% block content %}
    {{ super() }}
    <h5 class="start">Market Place</h5>
    <hr style="    border: none; /* Убираем границу */
    background-color: #370ff3; /* Цвет линии */
    color: #403866; /* Цвет линии для IE6-7 */
    height: 10px; /* Толщина линии */">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for p in products %}
            <div class="col">
                <div class="card h-100">
                    <img src="{{ p.image_path }}" class="card-img-top" alt="Карточка">
                    <div class="card-body">
                        <a href="{{ url_for('detail_product_page', product_id=p.id) }}">
                            {{ p.product_name }}
                        </a>
                        <p class="card-text">{{ p.text_info[2:15] }}...</p>
                        <form action="{{ url_for('main_page_all') }}" method="POST">
                            <button class="btn btn-primary" id="button_backet" name="backet_go" value="{{ p.id }}"
                                    type="submit">В корзину
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {#    <ul class="list-posts">#}
    {#        {% for p in products %}#}
    {#            <li>#}
    {#                <p class="title"><a#}
    {#                        href="{{ url_for('detail_product_page', product_id=p.id) }}">{{ p.product_name }}</a></p>#}
    {#                <p class="annonce">{{ p.id }}</p>#}
    {#            </li>#}
    {#            <form action="{{ url_for('main_page_all') }}" method="POST">#}
    {#                <button id="button_backet" name="backet_go" value="{{ p.id }}" type="submit">В корзину</button>#}
    {#            </form>#}
    {#        {% endfor %}#}
    {#    </ul>#}
    <a href="{{ url_for('admin.index') }}">Админ-панель</a></p>
{% endblock %}