{% extends 'base.html' %}
{% block style %}
    <style type="text/css">
        TABLE {
            width: 300px; /* Ширина таблицы */
            border-collapse: collapse;
            /* Убираем двойные линии между ячейками */
        }

        TD, TH {
            padding: 3px; /* Поля вокруг содержимого таблицы */
            border: 1px solid black; /* Параметры рамки */
        }

        TH {
            background: #7c6ec5; /* Цвет фона */
        }

        TD {
            color: #7569b0
        }
    </style>
{% endblock %}
{% block nav %}
    <a class="nav-link" aria-current="page" href={{ url_for('main_page_all') }}>Главная
        страница</a>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-expanded="false">Личный кабинет
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ url_for('profile_page') }}">Профиль</a></li>
            <li><a class="dropdown-item" href="{{ url_for('saved_page') }}">Избранное</a></li>
            <li><a class="dropdown-item active" href="{{ url_for('orders_page') }}">Заказы</a></li>
        </ul>
    </li>    {% if backet %}
    {% block backet_nav %}
        <a class="nav-link" href={{ url_for('backet') }}>Корзина</a>
    {% endblock %}
{% endif %}

    <a class="nav-link" href={{ url_for('logout') }}>Выйти</a>
{% endblock %}
{% block content %}
    {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{ cat }}">{{ msg }}</div>
    {% endfor %}
    <table style=";border: 3px groove #7c6ec5;width: 100%;margin-top: 10px">
        <tr>
            <th>Номер заказа</th>
            <th>Сумма</th>
            <th>Адрес</th>
            <th>Дата</th>
        </tr>
        {% for order in orders %}
            <tr>
                <td>
                    <a style="color: #7569b0;"
                       href="{{ url_for('order_info_page', num=order.number_order) }}">
                        <h5>{{ order.number_order }}</h5></a>
                </td>
                <td>
                    <h5>{{ order.sum_products }}</h5>
                </td>
                <td>
                    <h5>{{ order.address }}</h5>
                </td>
                <td>
                    <h5>{{ order.time_now }}</h5>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}