{% extends "base.html" %}
{% block nav %}
    <a class="nav-link" aria-current="page" href={{ url_for('main_page_all') }}>Главная страница</a>
    <a class="nav-link active" aria-current="page" href={{ url_for('registration_page') }}>Зарегистрироваться</a>
    <a class="nav-link" href={{ url_for('login_page') }}>Войти</a>
{% endblock %}
{% block content %}
    {{ super() }}
    {% for msg in get_flashed_messages(True) %}
        <div class='flash'>{{ msg }}</div>
    {% endfor %}
    <form action="" method="post" class="form-contact">
        {{ form.hidden_tag() }}

        {% for field in form if field.name not in ['csrf_token', 'remember', 'submit'] -%}
            <p>{{ field.label() }}
            {% if field.errors %}
                {{ field(class="invalid") }}
                {% for e in field.errors %}
                    {{ e }}
                {% endfor %}
            {% else %}
                {{ field() }}
            {% endif %}
        {% endfor %}
        <p>{{ form.submit() }}
    </form>
{% endblock %}
