{% extends 'base.html' %}
{% block nav %}
    <a class="nav-link" aria-current="page" href={{ url_for('main_page_all') }}>Главная
        страница</a>
    {% if  current_user.is_authenticated %}
        <a class="nav-link" href={{ url_for('profile_page') }}>Личный кабинет</a>
        <a class="nav-link" href={{ url_for('backet') }}>Корзина</a>
        <a class="nav-link" href={{ url_for('logout') }}>Выйти</a>
    {% else %}
        <a class="nav-link" aria-current="page" href={{ url_for('registration_page') }}>Зарегистрироваться</a>
        <a class="nav-link" href={{ url_for('login_page') }}>Войти</a>
    {% endif %}
{% endblock %}
{% block content %}
    {% for key, val in product.items() %}
        <p>{{ key }}-{{ val }}</p>
    {% endfor %}
{% endblock %}