{% extends 'admin/base_admin.html' %}
{% block nav_products %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
           data-toggle="dropdown"
           aria-expanded="false">Продукты
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item active" href="{{ url_for('.all_products_page') }}">Все продукты</a>
            </li>
            <li><a class="dropdown-item" href="{{ url_for('.add_product_page') }}">Добавить продукты</a>
            </li>
        </ul>
    </li>
{% endblock %}
{% block content %}
    {{ super() }}
    {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{ cat }}">{{ msg }}</div>
    {% endfor %}
    <div class="row row-cols-1 row-cols-md-3 g-4" style="padding-top: 10px">
        {% for p in products %}
            <div class="col">
                <div class="card h-100">
                    <a class="text-muted" href="{{ url_for('detail_product_page', product_id=p.id) }}">
                        <img src="{{ p.image_path }}" class="card-img-top" alt="Карточка">
                    </a>
                    <div class="card-body">
                        <h5 style="color: #0a0701"><a style="color: #0a0701; text-decoration: none"
                                                      href="{{ url_for('detail_product_page', product_id=p.id) }}">
                            {{ p.product_name }}                         </a>
                            <hr>
                            Цена - {{ p.price }}р
                        </h5>
                        <p class="card-text">{{ p.text_info[0:200] }}...</p>
                        <div class="buttons">
                            <form action="{{ url_for('.all_products_page') }}" method="POST">
                                <button class="btn btn-outline-light button-backet" id="button_backet"
                                        name="delete"
                                        value="{{ p.id }}"
                                        type="submit">Удалить
                                </button>
                            </form>
                            <form action="{{ url_for('.all_products_page') }}" method="POST">
                                <button type="submit" id="button_saved" name="change"
                                        class="btn btn-outline-light button-saved" value="{{ p.id }}"
                                        style="margin-top: 5px">Изменить
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}