{% extends 'admin/base_admin.html' %}
{% block nav %}
    <a class="nav-link active" aria-current="page" href={{ url_for('.login') }}>Войти</a>
{% endblock %}
{% block content %}
    {{ super() }}
    <div id="login" class="wnd_dlg_back login_wnd">
        <div class="login">
            <p class="title">Админ-панель</p>
            {% for cat, msg in get_flashed_messages(True) %}
                <div class="flash {{ cat }}">{{ msg }}</div>
            {% endfor %}
            <form action="" method="post">
                <p><label class="form-label">Логин:<input type="email" name="email"> </label>
                <p><label class="form-label">Пароль:<input type="password" name="password"> </label>
                <p><input class="login_button" type="submit" value="Войти">
            </form>
        </div>
    </div>
{% endblock %}