{% extends 'admin/base_admin.html' %}

{% block content %}

    {#    {% for key, val in product.items() %}#}
    {#        <p>{{ key }}-{{ val }}</p>#}
    {#    {% endfor %}#}
    <div class="card" style="width: 50rem; margin: 20px auto;">
        <img src="{{ product.image_path }}" class="card-img-top" alt="...">
        <div class="card-body">
            <b style="font-size: 25px" class="card-title">{{ product.product_name }}</b>
            <br>
            <u><b style="font-size: 20px">Цена товара</b> <b class="card-text">{{ product.price }}р</b></u>
            <br>
            <br>
            <b style="font-size: 20px">Информация о товаре</b>
            <p>{{ product.text_info }}</p>
            <button class="btn btn-outline-light button-backet" onclick=window.history.back()>Назад</button>
        </div>
    </div>
{% endblock %}